//- - var backgroundStyles = {
//-   'style': {
//-     'backgroundPosition': 'center 2px',
//-     'backgroundSize': 'cover'
//-     'backgroundRepeat': 'no-repeat'
//-   }
//- }

mixin card(title, description, demoLink, gitLink, thumbpic, klass)
  .card__layer
  .card(class=klass style={background: 'url(' + thumbpic + ')'}).fade-in
    .card__content
      h4.card__title= title
      .card__thumbnail
        .card__icons
          if block
            block
        
        p.card__description= description
      .btns
        a(href=demoLink title=title).card__btn Demo
        a(href=gitLink title='Code @GitHub').card__btn Code